@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Project created in order to practice using MVC project architecture, OOP with C#, Entity Framework and ASP.Net Core</p>
<p><strong>Professor: </strong>@ViewData["Professor"]</p>
<p><strong>Email: </strong>@ViewData["Email"]</p>

<address>
    <strong>More information: </strong> <a href="http://educandoweb.com.br">educandoweb.com.br</a>
</address>
